.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px;
  & li {
    cursor: pointer;
  }

  & h2 {
    font-size: 20px;
    padding: 10px;
  }
}

.img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
  min-height: 364px;
}
